name: Go tests

on:
  - push
  - pull_request

jobs:
  gotests:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        go-version:
          - "1.17"
          - "1.18"
          - "1.19"
          - "1.20"
          - "1.21"
    name: Tests for Go ${{ matrix.go-version}}
    steps:
      - uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: ${{ matrix.go-version }}
      - name: Unit tests
        run: env
      - name: Retrieve code coverage
        run: go test -coverprofile coverage.out $(go list ./... | grep -v tests)
      - name: Display code coverage
        run: go tool cover -func=coverage.out
